<ion-header>
  <ion-navbar>
    <ion-title>Escolha sua bebida</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="goToNfcPage()">
          <img src="../assets/images/gimlet.jpg"/>
          <ion-card-content>
            <ion-card-title>
              Gimlet
            </ion-card-title>
            <p>
              Descrição do drink
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="goToNfcPage()">
          <img src="../assets/images/gin-tonic.jpg"/>
          <ion-card-content>
            <ion-card-title>
              Gin Tônica
            </ion-card-title>
            <p>
              Descrição do drink
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card (click)="goToNfcPage()">
          <img src="../assets/images/martini.jpg"/>
          <ion-card-content>
            <ion-card-title>
              Martini
            </ion-card-title>
            <p>
              Descrição do drink
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="goToNfcPage()">
          <img src="../assets/images/negroni.jpg"/>
          <ion-card-content>
            <ion-card-title>
              Negroni
            </ion-card-title>
            <p>
              Descrição do drink
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 <ion-list>
  <ion-item>
    <ion-label floating>Item Name</ion-label>
    <ion-input type="text" [(ngModel)]="item.itemName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Item Description</ion-label>
    <ion-input type="text" [(ngModel)]="item.itemDescription"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Item Number</ion-label>
    <ion-input type="number" [(ngModel)]="item.itemNumber"></ion-input>
  </ion-item>
</ion-list>
<button ion-button block color="primary" (click)="saveItem(item)">Add Item</button>



  <h1>Sua lista de bebida </h1>
  <ion-list>
    <ion-item class="text" *ngFor="let item of lista_drinks | async">
       {{item.title}} <br>
       {{ item | json }}
    </ion-item>
    <h1>Garrafas posicoes </h1>
    <ion-item class="text" *ngFor="let item of pos_bebidas | async">
        {{item.$value}} <br>
        {{ item | json }}
     </ion-item>
     <h1> Sua fila de pedidos </h1>
     <ion-item class="text" *ngFor="let item of fila_drinks | async">
         {{ item | json }}
       {{item.$value}}
   </ion-item>
 </ion-list>

</ion-content>
